# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System / OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata/
chdata/
logs/
plugins/
